        <link rel="stylesheet" href="../../public/css/style.css">
<nav class="navbar navbar-expand-lg bg-dark p-4" data-bs-theme="dark">
    <div class="container-fluid">
    <a class="navbar-brand text-white h4" href="/">
       Fazenda
       <i class="fa-solid fa-cow"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a  class="nav-link text-white h4" href="/admin/investidor">
                <i class="fa-solid fa-user-tie"></i>
                Investidores</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link text-white h4" href="/admin/compra">
                <i class="fa-solid fa-sack-dollar"></i>
                Compras</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link text-white h4" href="/admin/venda">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            Vendas</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link text-white h4" href="/admin/estoque">
                <i class="fa-solid fa-chart-pie"></i>
                Estoque</a>
        </li>
        <li class="nav-item">
           
            <a  class="nav-link text-white h4" href="/admin/relatorios">
                <i class="fa-solid fa-chart-simple"></i>
                Relatórios</a>
        </li>
    </ul>
    </div>
    </div>
</nav>