<!DOCTYPE html>
<%- include ("partials/header.ejs") %> 
<%- include ("partials/navbar.ejs") %>

    <html lang="en">

    <body>

      <div class="text-center" >
      <img src="/img/farm.png" class="img-home" 
      width="45%"
      height="100%"
      alt="imagem-home">
         </div>
                </body>

    <%- include ("partials/footer.ejs") %>
    </html>